__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
__pycache__/loads.cpython-311.pyc
__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
test.py
__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
__pycache__/allFuncs.cpython-311.pyc
__pycache__/calcs.cpython-311.pyc
